.hero {
	position: relative;

	&--bg_img {
    padding-top: 8%;
  }
  
  &--bg_img_home {
    padding-top: 15%;
	}

  &-h1 {
    color: $white;
  }
  
  &-inner {		
		color: $white;
		@media screen and (max-width: 933px) {
			padding: 0;
		}		

		&.bottom_padd {

			&--thin {
				padding-bottom: 8%;
			}

			&--thick {
				padding-bottom: 200px;

				&_home {
          padding-bottom: 120px;
          
          @media screen and (max-width: 1024px) {
            padding-bottom: 16px !important;
          }
        }
			}
		}

		p {		
			font-weight: 300;				
		}
	}

  .hero-centered {
    line-height: 1;
    color: #fff;
    text-align: center;
  }
	.hero-attribution {
		position: absolute;
		bottom: 0;
		right: 0;
		padding: .5em .875em;
		font-size: .875em;
		background-color: rgba(0, 0, 0, .4);
  }
}