.wide {
  
  &-article {
    
    &-content {
      padding: 1rem;
    }

    &-title {
      font-weight: 600;
    }

    &-image {
      
      background-color: #eee;
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      min-height: 300px;
      overflow: hidden;
      width: 100%;

      @media screen and ( max-width: 780px ) {
        min-height: 250px;
      }

      @media screen and ( max-width: 450px ) {
        min-height: 150px;
      }
    }

    &-item {

      display: grid;
      grid-template-columns: 1fr 1fr;
      list-style-type: none;
      margin-bottom: 1.5rem;

      @media screen and ( max-width: 780px ) {
        grid-row-gap: 1rem;
        grid-template-columns: auto;
        grid-template-rows: 250px 1fr;
      }

      @media screen and ( max-width: 450px ) {
        grid-row-gap: 1rem;
        grid-template-rows: 150px 1fr;
      }
      
      &-group {
        padding: 0;
      }
    }

    &-media {

      padding: 1rem;

      @media screen and ( max-width: 780px ) {
        justify-self: center;
        width: 80%;
      }

      @media screen and ( max-width: 450px ) {
        justify-self: center;
        width: 100%;
      }
    }
  }

  &-list_item_excerpt {

    font-size: 1.1rem;

    @media screen and ( max-width: 780px ) {
      font-size: 1rem;
    }
  }
}