/*------------------------------------*\
  #TYPOGRAPHY
\*------------------------------------*/


html {
  font-size: $font-size + 0px;
  @media screen and (max-width: 933px) {
    font-size: $mobile + 0px;
  }
}


body {
  font-size: $font-size + 0px;

  &.page,
  &.single,
  &.archive,
  &.error404,
  &.search {
    font-size: $font-size + 0px;
    color: $font-color;
    @media screen and (max-width: 933px) {
      font-size: $mobile + 0px;
    }
  }
}


h1 {
  font-size: 3.27rem;
  font-weight: 600;
}


h2 {
  font-size: 2.22rem;
  font-weight: 600;
}



h3 {

  font-size: 1.67rem;
  font-weight: 600;

  &.right-arrow {
    &:before {
      content: " > ";
      color: $red;
    }
  }
}


h4 {
  font-size: 1.11rem;
  font-weight: 600;
  color: $blue-medium;
}


h5 {
  font-size: 1rem;
  font-weight: 600;
}

h6 {
  font-size: 0.89rem;
  font-weight: 600;
}


a {

  color: $blue-medium;

  &:hover {
    color: $blue-medium;
  }

}


h1, h2, h3, h4, h5 {

  color: $blue-navy;
  
  > a {

    color: $blue-navy;

    &:hover {
      color: $red;
      text-decoration: none;
    }
  }
}


p, ol, ul {
  font-size: 1rem;
  line-height: 1.44;
  @media screen and (max-width: 933px) {
    font-size: 1em;
  }

  > a {
    font-weight: 600;
  }
}

li > a {
  font-weight: 600;
}

ul {

  ol {
    font-size: 1rem;
  }
}


ol {

  ul {
    font-size: 1rem;
  }
}


blockquote {
  font-size: $font-size + 0px;
  @media screen and (max-width: 933px) {
    font-size: $mobile + 0px;
  }
}


.text_light {
  color: #fff;
}


.text_dark,
.cta_link.text_dark {
  color: $blue-navy;

  &:hover {
    color: $blue-navy;
  }
}


.text_bold {
    font-weight: 700;
}


.caption {
  font-size: em(14);
  font-style: italic;
  @media screen and (max-width: 933px) {
    font-size: em(12, $mobile);
  }
}
